# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables
.env

.esg_financial_analysis.csv

web30k/
email/
food_delivery/
reference_projects/
*.txt
temp.py
